/* CSS to control the dropdown behavior */

#status-dropdown,
#anggota-dropdown {
    position: relative;
    z-index: 1;
}

#status-dropdown select:focus,
#anggota-dropdown select:focus {
    z-index: 2;
}


/* Optional: Add a transition for smooth effect */

#status-dropdown select,
#anggota-dropdown select {
    transition: all 0.3s ease;
}